﻿<div class="container">
    <a href="#!/employee/add"><span class="glyphicon glyphicon-plus"> Добавить</span></a>
    
    <table class="table table-striped">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
            <th>E-mail</th>
            <th>Действия</th>
        </tr>
        <tr>
            <td><input ng-model="searchData.LastName" type="text" class="form-control"></td>
            <td><input ng-model="searchData.FirstName" type="text" class="form-control"></td>
            <td><input ng-model="searchData.SurName" type="text" class="form-control"></td>
            <td><input ng-model="searchData.Phone" type="text" class="form-control"></td>
            <td><input ng-model="searchData.Email" type="text" class="form-control"></td>
            
            <td>
                <div class="input-group-btn"> 
                    <button type="button" class="btn btn-default" aria-label="Help" ng-click="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button> 
                    <button type="button" class="btn btn-default" aria-label="Help" ng-click="clearSearch()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button> 
                </div>
            </td>
        </tr>
        <tr ng-repeat="employee in employees">
            <td>{{employee.FirstName}}</td>
            <td>{{employee.LastName}}</td>
            <td>{{employee.SurName}}</td>
            <td>{{employee.Phone}}</td>
            <td>{{employee.Email}}</td>
            <td>
                <a href="#!/employee/edit/{{employee.EmployeeId}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="Javascript:void(0);" ng-click="deleteEmployee(employee.EmployeeId);">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </table>

</div>