﻿<div class="container">
    <form style="width:400px;margin:auto;">
        <div class="form-group form-group-sm">
            <button class="btn btn-default" ng-click="back()">Список</button>
        </div>
        <div class="form-group form-group-sm">
            <label for="firstNameLabel">Фамилия</label>
            <input ng-model="employee.FirstName" type="text" class="form-control" id="firstNameLabel" placeholder="Фамилия">
        </div>
        <div class="form-group form-group-sm">
            <label for="lastNameLabel">Имя</label>
            <input ng-model="employee.LastName" type="text" class="form-control" id="lastNameLabel" placeholder="Имя">
        </div>
        <div class="form-group form-group-sm">
            <label for="surnameLabel">Отчество</label>
            <input ng-model="employee.SurName" type="text" class="form-control" id="surnameLabel" placeholder="Отчество">
        </div>
        <div class="form-group form-group-sm">
            <label for="phoneLabel">Телефон</label>
            <input ng-model="employee.Phone" type="text" class="form-control" id="phoneLabel" placeholder="Телефон">
        </div>
        <div class="form-group form-group-sm">
            <label for="emailLabel">E-mail</label>
            <input ng-model="employee.Email" type="text" class="form-control" id="emailLabel" placeholder="E-mail">
        </div>
        <div class="form-group form-group-sm">
            <label for="countryLabel">Страна</label>
            <select id="CountryId" name="CountryId" class="form-control" ng-model="seletedCountry" ng-change="changeCountry()"
                    ng-options="option.CountryName for option in countries track by option.CountryId">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label for="cityLabel">Город</label>
            <select class="form-control" ng-model="seletedCity"
                    ng-options="option.CityName for option in cities track by option.CityId">
                <option value=""></option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" ng-click="save()">Сохранить</button>
    </form>
</div>